* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.background {
	background: #1F1F1F;
}
body {
	color: #3B3B3B;
	font: 15px "Open Sans";
	background: #FFF;
}
a {
	text-decoration: none;
}

/*.container{
	max-width: 900px;  PROPOZYCJA SZEROKIOSCI
}*/
 
.contact_desc h3{
  color:#1BD3C0;
  font-size: 14px; 
  margin-bottom: 0;
}
.contact_desc p{
  font-size: 12px;
}
#top {
	background: linear-gradient(to right,#1BD3C0,#FFF800);
	background: -webkit-linear-gradient(to right,#1BD3C0,#FFF800);
	padding-top: 4px;

}

.dark_label{
	background: rgba(0, 0, 0, .8);
	min-height: 350px;
	padding: 30px;
}
.dark_label h1{ 
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	max-width: 70%;
	line-height: 130%;
	margin-bottom: 10px;
}

.dark_label.event h1{ 
	color: #1BD3C0;
}
.gallery_side img{
	width: 100%;
	height: auto;
	margin-bottom: 5px;
	margin-top: 5px;
}
.dark_label span{ 
	color: #fff;
	font-size: 24px;
	width: 100%;
	display: block;   
}
.dark_label .tag ul li{
	 list-style: none;
	 display: inline-block;
	 color: #575655;
	 font-size: 18px;
	 margin-right:10px;
}
.dark_label .tag.event ul li{
	 color: #fff;
}
.dark_label .tag.event ul li span{
	 font-weight: bold;
}
.dark_label .tag{
	margin-top: 30px;
}
.label_arrow_box h3{
	margin-top: 0;
	padding: 5px 10px 5px 10px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
}
.label_arrow_box {
	position: relative;
	background: #1bd3c0; 
}
.label_arrow_box:after {
	top: 100%;
	left: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(27, 211, 192, 0);
	border-top-color: #1bd3c0;
	border-width: 10px;
	margin-left: -10px;
}

.cat_box{
	position: absolute;
	right: 20px;
	top: 20px;
}
.cat_box li{
	list-style-type: none;
	width: 25px;
	height: 25px;
	color: #353535;
	font-weight: 400;
	text-align: center;
	line-height: 25px;
	margin-left: 3px;
	display: inline-block; 
	font-size: 12px;
}
.cat_box li.green{
	background: #7cc576;
}
.cat_box li.yellow{
	background: #aac576;
}
.cat_box li.blue{
	background: #769bc5;
}
.cat_box li.pink{
	background: #c576bc;
}

.info_box{
	margin-bottom: 30px;
}
.info_box span{
	 display: inline-block;
	 width: 100%;

}
.download_links{
	 list-style: none;
}
.download_links i{
	position: relative;
	left: 0;
	top:10px;
	background: url(../images/file_ico.png)no-repeat ;
	background-size: 100% auto;
	width: 35px;
	height: 40px;
	display: inline-block; 
	margin-right: 10px;
}
.eve_cal{
	list-style: none;
	width: 80%;
	margin-left: 10%;
}
.eve_cal li{
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
	margin-top: 10px;
}
.qa{
	width: 35px;
	height: 35px; 
	display: inline-block;
	margin-right: 10px;
	background:url(../images/qico.png)no-repeat;
	background-size: cover;
	position: relative;
	top:10px;
}
.eve_cal li span{
	font-weight: bold;
}


#world-map{ margin: 0px; width: 100%; max-width: auto; /* opacity: .5; */ }
.map{ position: relative; margin-bottom: 0px; }
.map .dot{ display: block; position: absolute; border-radius: 50%; height: 12px; width: 12px; background: #FFF; border: 4px solid #999; box-shadow: 0 0 0 7px rgba(0,0,0,.5); }
.map a{display: block;}
.dot.office{ border: 4px solid #002B5C/* #1A5F89 */; box-shadow: 0 0 0 7px rgba(0,43,92,.5); }
.dot.ipat{ border: 4px solid #338FBA; box-shadow: 0 0 0 7px rgba(51,143,186,.5); }
.dot.active{ border: 4px solid #DA5F63; box-shadow: 0 0 0 7px rgba(218,95,99,.5); }
.dot.past{ border: 4px solid #C98F5B; box-shadow: 0 0 0 7px rgba(201,143,91,.5); }
.tooltip-inner{ padding: 10px; text-transform: uppercase; }

.arrow_box {
	position: relative;
	background: #fff;
	border: 1px solid #676767;
	margin-top: 30px; 
	max-width: 200px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(103, 103, 103, 0);
	border-bottom-color: #676767;
	border-width: 11px;
	margin-left: -11px;
}
.sub_header{
	height: 350px;
}
.sub_header .category_box{
	margin-top: 10px;
	width: 150px;
	height: 30px; 
}
.sub_desc{
	display: inline-block;
	margin-left: 15px;
}
.arrow_box ul {
	padding-left: 20px;
	padding-right: 20px;
}
.arrow_box ul li{
	 list-style: none;
	 padding-left: 20px;
	 padding-bottom: 10px;
	 padding-top: 10px;
	 border-bottom: 1px solid #676767;
}
.arrow_box ul li:last-child{
	border-bottom: 0px;
}
.avatar_big{
	background: linear-gradient(to right,#1BD3C0,#FFF800);
	background: -webkit-linear-gradient(to right,#1BD3C0,#FFF800);
	padding: 5px;
	border-radius: 100%;
	display: inline-block;
	position: relative;
	top: 10px;
	z-index: 1000; 
}
.content_prw{
	position: relative; 
	top:15px;
	padding-bottom: 15px;
}
.content_post a{
	color: #1BD3C0;
	text-decoration: none; 
}

.content_post a:hover{
	border-bottom: 1px dotted #1BD3C0;
}

.clear{
	clear: left;
	clear: right;
	clear: top;
	clear: both;
}
.sidebar_first {
 background:#1BD3C0;
 display: inline-block;
 width: 100%;
 height: 130px;
}

.sidebar_first h3{
	 color: #fff;
	 text-align: center;
	 margin-top: 70px;
	 margin-bottom: 0;
}
.sidebar_first span{
	 color: #fff;
	 text-align: center; 
	 font-size: 14px;
	 font-weight: 100;
	 display: inline-block;
	 width: 100%;
}
.sidebar_two,
.sidebar_tree{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 15px;
	display: inline-block;
	width: 100%;
	border:solid 2px #1BD3C0;
}


.sidebar_tree i,
.sidebar_two i{
	width: 40px;
	height: 40px; 
	display: inline-block;
	float: left;
	margin:10px;
}
.sidebar_tree .fb{
	background: url(../images/fb.png)no-repeat;
	background-position: center center;
	width: 30px;
	height:30px;
	display: inline-block;
	margin-top: 5px;
}

.sidebar_tree .tw{
	background: url(../images/tw.png)no-repeat;
	background-position: center center;
	width: 30px;
	height:30px;
	display: inline-block;
	margin-top: 5px;
}
.sidebar_tree .ln{
	background: url(../images/ln.png)no-repeat;
	background-position: center center;
	width: 30px;
	height:30px;
	display: inline-block;
	margin-top: 5px;
}
.sidebar_tree .yt{
	background: url(../images/yt.png)no-repeat;
	background-position: center center;
	width: 30px;
	height:30px;
	display: inline-block;
	margin-top: 5px;
}
/* icons-toolbar */
#icons-toolbar {  
	font-weight: 600; 
	text-align: right;
	text-transform: uppercase;
	padding: 20px 0;
}
#icons-toolbar .author{
	text-align: left; 
	display: inline-block;  
	margin: 0 0 0 0px!important;  
}

#icons-toolbar .author li{
	margin-left: 0px;
	text-align: left; 
	font-weight: 400;
	font-size:12px;
}

.author li:nth-child(2){
	padding-left: 10px;
} 

#icons-toolbar .share {
	display: inline-block;
}
#icons-toolbar button {
	text-transform: uppercase;
	background: transparent;
}
#icons-toolbar ul {
	margin: 0 0 0 30px; 
}
#icons-toolbar li {
	display: inline-block;
	list-style: none;
	margin-left: 10px;
}
#icons-toolbar a {
	font-size: 13px;
	color: #7a8890;
}
#icons-toolbar a:hover,
#icons-toolbar button:hover {
	color: #1BD3C0;
}


.content_single img{
	width: 100%!important;
	height: auto; 
}

.content_single h1{ 
	font-weight: bold;
	padding-top: 20px; 
	font-size: 44px;
}
.content_single h2{
	color: #242b31;
	padding-top: 20px;
	padding-bottom:20px;
}
.content_single h3{
	color: #242b31;
	padding-top: 20px;
	padding-bottom:20px;
	clear: both;
	display: inline-block;
}
.content_single h4{
	color: #242b31;
	color: #7a8890;
	font-size: 18px;
	text-transform: none; 
}
 
.content_single p{
	font-size: 14px;
	padding-bottom: 0!important;
	line-height: 180%!important;
}
.content_single p > a:link{
	font-weight: 400;
	border-bottom: 1px dotted #c20055;
}
.content_single i{
	font-weight: 400;
}
.content_single ol li{
	list-style-position: inside;
}
.content_single .number{ 
}
.content_single ul.number li{
	list-style-type: decimal;
	display: inline-block;
}
.content_single ul{
	padding-bottom: 20px!important
}
.content_single ul li{
	margin: 5px 0;
	font-weight: normal;
	font-weight: 200;
	list-style-position: inside;  
}

.content_single blockquote {
	font-size: 24px;
	font-style: italic;
	font-weight: 200; 
	margin-top: 20px;
	padding-left: 80px; 
	background: url(../images/cite.png)no-repeat;
	background-position: 0 15px; 
}
.content_single .wp-caption-text{
	width: 100%;
	height: auto;
	background: #f2f3f4;
	display: inline-block;
	padding: 10px;
	font-style: italic;
	color: #7a8890;
	font-size: 12px;
}

.login-btn{
	 color:#FFF800;
	 text-transform: uppercase;
	 padding-top: 5px;
	border-bottom:1px dotted #FFF800;
	font-size:11px;
}
.btn{
	color: #fff;
	background: #1BD3C0;
	border-color: transparent;
	transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}
.best-btn{
	transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}
.best-btn:hover{
	 border-radius: 5px;
}
.btn:hover{
		color: #1BD3C0;
	background: transparent;
	border-color: #1BD3C0;
}

.btn-border{
	background: transparent;
	border:4px solid #1f1f1f;
	color: #1f1f1f;
	margin-left: 10px; 
}
.select-filter{
	 background: transparent;
	 padding: 5px;
	 border:4px solid #1f1f1f;
	 border-radius: 0;
	 height: 40px;
	 min-width: 140px;
}

.editors_list{
	 padding: 0;
	 padding-top: 100px 0;
	 width: 100%;
}
.editors_list li{
	 width: 50%;
	 float: left; 
	 list-style: none;
	 display:  inline-block;
	 min-height: 200px; 
}
 
.editors_list li:nth-child(2n){
	padding-top: 80px;
}
.editors_list li .desc_cont{
	 float: right;
}

.editors_list li .desc_cont{
	float: left;
}

.editors_list li:nth-child(2n) .desc_cont{
	float: left;
}

.editors_list li .desc_cont{
	float: right;
	margin-right: 20px;
}

.editors_list li:nth-child(2n) .label{
	right: 0!important;
	left: 89%;
}

.editors_list li:nth-child(2n) .item{
	float: right;
}
.editors_list li .date{ 
	width: 130px;  
	float: left;
	margin-top:110px;
	background: #1BD3C0;
	padding: 10px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	position: relative;

}

.editors_list li .date:after {


		left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #1BD3C0;
	border-width: 8px;
	margin-top: -8px;
}
.editors_list li:nth-child(2n) {
	border-left:  2px solid #b7b7b7;
}
.editors_list li:nth-child(2n) {
	border-right:  none;
}

.editors_list li:nth-child(2n) .date:after {
	left:  -12%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #1BD3C0;
	border-width: 8px;
	margin-top: -8px;
}

 
.editors_list li:nth-child(2n) .date{
	float: right;
}

.editors_list .item h2{
	border-top: 0px;
	border-bottom: 1px solid #fff;
}
 
.edit_tmp .label{
	width: 40px; 
	background: #1BD3C0;
	position: absolute;
    top: 15px;
    min-height: 250px;
    left: 15px;
    border-radius: 0;
}
.sub_header .label{
width: 40px; 
	background: #1BD3C0;
	position: absolute;
    top: 0px;
height: 350px;
    left: -15px;
    border-radius: 0;
}
.sub_header .label .rotate{
	margin-top: 200px;
}
.edit_tmp {
	    border-top: 1px solid #FFF;
}
.edit_tmp .ex1{
	background: url(../images/ico.png) no-repeat;
	width: 100%;
	height: 50px;
	float: left;
	background-size: 100% auto;
	margin-top: 10px;
}

#job_single{
	margin-top: 25px;
}
#job .healine{ 
	margin-top: 25px;
	margin-bottom: 10px;
	border:5px solid #F4F4F4;
	background: #292929; 
	padding-right: 0px!important; 
}
.call_job{
	background: #cc0000;
	text-align: center;
	width: 100%;
	height: auto;
	display: inline-block;
}
#job .filtr{
	 margin-top: 8px;
	 width: 40%;
}
.btn-job{
	padding-left: 0px!important;
	padding-right: 0px!important;
}
#job .healine h3{
	padding: 8px;
	margin-top: 0!important;
	margin-bottom: 0!important;
	color: #1CD3C1;
}
 
#job .jobItem {
	background: #292929;
	min-height: 320px!important; 
	margin-bottom:5px;
	border:5px solid #F4F4F4; 
	 	
}
#job .jobItem > div{ 
	margin-top: 20px;
}

#job .jobItem div > .comName{
	text-align: center;
	color: #fff;
	width: 100%;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.call_job h3{
	color: #fff!important;
}
#job  .lcompany{
	width: 80px;
	height: 80px;
	border-radius: 100%; 
	display: block;
	border: solid 3px #fef900 ; 
	background-position: center center!important;
	background-size: 100% auto!important;
}
.boxx{
 
border: 1px solid #C4C4C4;
	display: inline-block;
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}
.job_info .wp{
	margin-top: 60px;
}
.job_info .must{
	padding-bottom: 25px;
}
.job_name h3{
	font-size: 33px;
	font-weight: bold;
	color: #1cd3c1;
	text-shadow:1px 2px 3px #dcdcdc;
}
.job_desc {
	padding-top: 25px;
}
.job_desc h3{
	color: #000; 
	font-weight: bold;
}
.job_desc p{
	line-height: 170%;
}
.column{
	display: block;
	width: 100%;
	margin: 25px auto; 
}
.must > div{
	margin: 0 auto;
	display: block;   
	width: 100%;
}
.must  ul{
	width: 100%;
	min-height: 250px;
	height: auto;
	padding: 0!important;
	list-style: none;
	border-left: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
}
.must  ul li:first-child{
	padding-top: 10px;
}
.must  ul li{
	padding: 5px 30px;
	display: block;
	font-weight: bold; 

}
.must .label{
	display: inline-block;
	width: 100%; 
	background: #1cd3c1;
	border-radius: 0!important
}
.must .label h3{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px!important;
	text-transform: uppercase;
	text-shadow:1px 2px 3px #dcdcdc;
}
.must .label {
	position: relative;
	background: #1cd3c1;
}
.must .label:after {
	top: 100%;
	left: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #1cd3c1;
	border-width: 10px;
	margin-left: -10px;
}
.apply{
	background: #1cd3c1;
	padding: 5px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	width: 100%;
	margin-top: 25px;
}
.apply_form{
	padding-top: 25px; 
	width: 100%;
	height: 100px; 
	display: block;
} 
.apply_form input{
	padding: 5px;
	border: 1px solid #c4c4c4;
	width: 100%;
}

.company_name > p > span {
    background: #1CD3C1;
    margin-left: 2px;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    margin-top: 2px;
}
.job_name h3 span {
    color: #000!important;
}

.company_name {
    text-align: left!important;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #555555;
}
.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.rotate{
	margin-top: 220px;
}

.modal_box_in{
	padding: 20px;
}
.modal_box_in  ul li{
	list-style-position: inside; 
}
/* login */
.login {
	margin-top: 100px;
}
.login .modal-footer {
	text-align: center;
}
.login h3 {
	padding: 0;
}
.login input {
	border-radius: 0;
	background: #f8f8f8;
    border: solid 1px #f1f1f1;
    font-size: 12px;
}
.login label {
	font-size: 13px;
	font-weight: 400;
}
.login .forgot-pwd {
	font-size: 12px;
}
.login .forgot-pwd:hover {
	text-decoration: underline;
}
.login .form-group + .form-group {
	margin-bottom: 5px;
}
.modal-content {
	border-radius: 0px;
}

.computer{
	background: url(../images/computer.png)no-repeat;
	background-position: center center;
}
.marker{
	background: url(../images/map.png)no-repeat;
	background-position:  -2px center;
}
.social_share{
	background: url(../images/share.png)no-repeat;
	background-position:  -2px center;
}
.sidebar{
	border-right: 1px solid #000;
} 
.sidebar_two span{
	display: inline-block;
	width: 100%;
	text-align: center;
	
}
.sidebar_tree div{
	padding-left: 30px;
	display: inline-block;
}
.sidebar_tree span{
	padding-top: 10px; 
	float: left;
}
.stars{
	margin-top: 180px;
}
.sub_header h2{
	 font-size: 28px;
	 border:none;
}
.avatar_big img{
	width: 150px;
	height: 150px;
	border-radius: 100%;
	display: inline-block; 
}
.event_box{
	border:1px solid #000;
	padding: 0 15px;
	margin-top: 15px;
}
.event_box ul{
	width: 100%;
	height: auto;
	padding-top: 0;
}
.event_box ul li{
	list-style: none;
	padding-top: 0;
	height: 35px;
	width: 100%;
	border-bottom:  1px solid #000;
	display: inline-block;
}
.event_box ul li a{
	 color: #000;
	 font-weight: 400;
	 font-size: 12px;
	 text-align: left; 
	 margin-bottom: 0;
	 display: inline-block;
	 width: 100%; 
	 margin-top: 7px; 
	 padding: 0 10px;
}
.event_box ul li a > span{
	font-weight: 200;
	font-size: 12px;
	border:2px solid transparent; 
} 
.job_box{
	margin-top: 15px;
	margin-bottom: 15px;
	min-height:150px;
	border:1px solid #000;
	padding: 15px;
}
.job_box span{
	text-align: center;
	font-weight: 400;
	display: inline-block;
	width: 100%;
	padding-top: 10px;
	font-size: 12px;

}
.job_box p{
	text-align: center;
	font-weight: 600;
	display: inline-block;
	width: 100%;
	padding-top: 5px;
	font-size: 18px;
}
.job_box a{
	text-align: center;
	font-weight: 400;
	display: block;
	margin:  0 auto;
	border: solid 2px #1BD3C0;
	padding: 8px;
	max-width: 100px;
	color: #1BD3C0;
	font-size: 10px;
	text-transform: uppercase; 
}

.event_box ul li a:hover{
	border:2px solid #1BD3C0;
}
.event_box ul li:last-child{
	margin-bottom: 0px;
}
.authores{
	margin-top: 45px;
	margin-left: 40px;

}
.item_box{
	margin-top: 15px;
	margin-bottom: 15px;
	transition: all 0.4s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in; 
}
 .breadcrumb{
 	background: transparent;
 	padding: 0!important
 }
 .breadcrumb a{
 	text-transform: uppercase;
 		transition: all 0.4s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in; 
  font-size: 12px;
  color: #1BD3C0;
 }
 .breadcrumb span{
 	text-transform: uppercase;
 	font-size: 12px;
 }
.item_box_full{
	margin-top: 15px;
}
.item_box .authores{
	margin-top: 20px;
	margin-left: 0px;
}
.item_box .authores .avatars{
	width: 40px;
	height: 40px
}
.item_hp .authores{
	border-right: 1px solid rgba(255, 255, 255, .6);
	min-height: 200px;
	width: 100%;
}
.item_hp .avatars{
	width: 60px!important;
	height: 60px!important;
	margin-left: 20px;
	margin-top: 50px;

}
.item_box .authores .authores_des{
	padding-left: 10px!important;
}
.item_box .authores .authores_des h3{
	 font-size: 14px;
	 margin-top:0!important;
}
.item_box .authores .authores_des span{
	font-size: 12px;
}
.item_box_v2{
	margin-top: 15px;
	    min-height: 250px;
}
.item_box_v2  .authores{  
	border-color: transparent;
	margin-left: 0!important;
	margin-top: 10px!important;
	min-height: 50px;
}
.item_box_v2 .desc_cont {
 border-top: 0px solid transparent!important; 
 padding-top: 20px!important;
}
.item_box_v2 .desc_cont h2{
	border-top: 0px solid transparent!important; 
}
.item_box_v2  .authores_des{
	border-left: 1px solid rgba(255, 255, 255, .6);
	margin-top: 12px!important;
	margin-left: 10px;
	    padding-left: 10px;
	    padding-bottom: 10px;
}
.item_box_v2  .authores_des h3{
	font-size: 14px; 
}
.item_box_v2  .authores_des span{
	font-size: 12px;
}
.item_box_v2 .avatars{ 
	margin-top: 10px!important;
	margin-left: 10px!important;
}
.authores_des{
	display: inline-block;
	padding-left: 30px; 
}
.authores_des h3{
	color:#fff;
	font-weight: 400;
	margin-bottom: 0!important;
	float: left;
	margin-top: 10px!important;
	width: 100%;
	height: auto; 
}
.authores_des span
{ 
	text-align: left; 
	display:  inline-block; 
	width: 100%; 
	color: #fff;
}
.desc_cont{
	padding-top: 117px;
}
.desc_cont p{
	color: #fff;
}
.item_hp .desc_cont{
	padding-top: 50px;
}
.authores_des h3{
		font-size: 24px;
}

.first_item_desc{
	text-align: right;
	color: #fff;
	margin-top: 70px;

}
.first_item_desc h2{
	font-weight: 400;
	color: #FFF800;
	font-size: 28px;
}
.first_item_desc p{
	font-size: 16px;
}

.avatars{
	float: left;
	padding: 3px;
	background: linear-gradient(to right,#1BD3C0,#FFF800);
	background: -webkit-linear-gradient(to right,#1BD3C0,#FFF800);
	border-radius: 50%;
	width: 70px;
	height: 70px;

} 
.avatars img{
	width: 100%;
	height: auto;
	border-radius: 50%;
}
 .item_box {
	min-height: 250px; 
 }

 .item_box_full{
	min-height: 350px; 
	margin-bottom: 10px;
 }
 
.list {
	list-style: none;
}
#search {
	padding: 59px 0;
}
#search ul {
	border: 1px solid rgba(27,211,192,.64);
	background: rgba(0,0,0,.64);
	padding: 5px 15px;
	display: inline-block;
	width: 100%;
}
#search ul li{
	display: inline-block;
}
.left {
	float: left;
}
.right {
	float: right;
}
#search .left {
	width: 100%;
	margin-right: -42px;
	padding-right: 58px;
}
#search .text {
	width: 100%;
	color: #D3D3D3;
	font: 10px "Open Sans";
	background: none;
	font-weight: 400;
	margin-top: 7px;

}
#search .right {
	border-left: 1px solid #1BD3C0;
	padding-left: 16px;
}
#search .submit {
	cursor: pointer;
	width: 25px;
	height: 25px;
	background: url('../images/search.png');
}
#header_box {
	min-height: 350px;
	background-size: cover; 
	margin-bottom: 25px;
}

.label-menu{
	border-top: 1px solid #FFF800;
	background: rgba(0,0,0,.64);
	width: 100%;
	display: inline-block;
	height: 70px; 
	padding-bottom: 0!important;
	float: left;
	top: -70px; 

}
.category_menu {
	width: 100%;
	display: inline-block;
	padding-top: 10px;
	padding-left: 10%;
	padding-right: 10%;
	margin: 0 auto;
	margin-bottom: 0; 
}
.category_menu li {
 width: 19.20%;
 text-align: center;
 list-style: none;
 display: inline-block;
 cursor: pointer; 
}
.category_menu li:first-child i {
	width: 40px;
	height: 25px;
	display: block; 
	margin: 0px auto;
	background: url('../images/library.png')no-repeat;
	background-size: 100% auto;
	background-attachment: center top; 
}
.category_menu li:nth-child(2) i {
	width: 40px;
	height: 25px;
	display: block; 
	margin: 0px auto;
	background: url('../images/editors.png')no-repeat;
	background-size: 100% auto;
	background-attachment: center top;

}
.category_menu li:nth-child(3) i {
	width: 40px;
	height: 35px;
	display: block; 
	margin: 0px auto;
	background: url('../images/travel.png')no-repeat;
	background-size: 94% auto;
	background-position: center top!important;
}
.category_menu li.jobs i {
	width: 40px;
	height: 35px;
	display: block!important;
	margin: 0px auto;
	background: url('../images/jobs_menu.png')no-repeat!important;
	background-size: 77% auto!important;
	background-position: center center!important; 
}
.category_menu li:nth-child(5) i {
	width: 40px;
	height: 35px;
	display: block; 
	margin: 0px auto;
	background: url('../images/shop_menu.png')no-repeat;
	background-size: 100% auto;  
}
.category_menu ul li a:after {
	top: 0%;
	left: 17%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 248, 0, 0);
	border-top-color: #FFF800;
	border-width: 10px;
	margin-left: -10px;
}

.category_menu li a{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	color: #fff; 
	text-transform: uppercase;
	font-size: 12px; 
			transition: all 0.4s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in; 
}
.category_menu li a:hover{
	    color: #FFF800;
}
.menu-top{
	background:rgba(0, 0, 0, .6);
	display: block;
	width: 100%;
	height: auto;
	float: left;

}

.category_menu li > ul{
	position: absolute!important;
	left: 0;  
	width: 100%!important;
	height: 80px; 
	padding-top: 10px;
	top:70px;
	background:#1f1f1f;
	z-index: 20;
	border-top: 2px solid #FFF800;
	display: none; 
}
.category_menu li:hover > ul{
	display: block;
}
.category_menu li > ul >li{
	display: inline-block;
	width: 100px;
	height: 50px; 
	margin: 0 auto;
}
.category_menu li > ul >li{
	border-left: 1px solid rgba(255, 255, 255, .6);
}
.category_menu li > ul >li:last-child{
	border-right: 1px solid rgba(255, 255, 255, .6);
}
.submenu li i{
	width: 27px!important;
	height: 29px!important; 
	display: inline-block; 
	margin-top: 0!important; 
}
.menu-library li:first-child i{
	background: url('../images/submenu_icons.png')no-repeat;
	background-position: 0 0;
}
.menu-library li:nth-child(2) i{
	background: url('../images/submenu_icons.png')no-repeat;
	background-position: -130px 0;
}
.menu-library li:nth-child(3) i{
	background: url('../images/submenu_icons.png')no-repeat;
	background-position: -257px 0;
}
.menu-library li:nth-child(4) i{
	background: url('../images/submenu_icons.png')no-repeat;
	background-position: -385px 0;
}
.menu-library li:nth-child(5) i{
	background: url('../images/submenu_icons.png')no-repeat;
	background-position: -507px 0;
	width: 34px!important;
}
.menu-library li:nth-child(6) i{
	background: url('../images/submenu_icons.png')no-repeat;
	background-position: -635px 0;
	width: 28px!important;
}
.menu-library li:nth-child(7) i{
	background: url('../images/submenu_icons.png')no-repeat;
	background-position: -765px 0;
}
.menu-library li:nth-child(8) i{
	background: url('../images/submenu_icons.png')no-repeat;
	background-position: -892px 0;
}
.menu-library li:nth-child(9) i{
	background: url('../images/submenu_icons.png')no-repeat;
	background-position:-1016px 0;
	width: 31px!important;
}
.submenu li a{
	font-size: 11px; 
}
.hello_box {
	border-right: 1px solid rgba(255, 255, 255, .6);
	margin: 10px 0;
}

.item_home .authores,
.hello_box .authores{
	margin: 0; 
}
.item_home .authores_des,
.hello_box .authores_des {
	padding-left: 15px;
	padding-top: 0!important;
}

.hello_box .authores_des  h3{
	font-size: 14px;
	margin-top: 5px!important;
	color: #FFF800;
}
.item_home .authores_des  h3{
	color: #fff;
	font-size: 14px;
}

.hello_box .authores_des  span{
	font-size: 16px;
	color: #FFF800;
}
.item_home .authores_des  span{
	color: #fff;
	font-size: 12px;
}
.item_home .avatars,
.hello_box .avatars{
	width: 50px;
	height: 50px; 
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}
.logo img{
	width: 100%;
	height: auto;
}
.menu_box{
	border-top: 1px solid #FFF800;
	background: rgba(0,0,0,.64); 
}
.menu_box_sub{
	border-top: 1px solid rgba(255, 255, 255, .6);
	border-bottom: 1px solid #FFF800;
	background: rgba(0,0,0,.64);
}
.menu_box .menu li{
	width: 18.99%;
	text-align: center!important; 
}
.menu_box .menu li a{ 
	text-align: center; 
	width: 100%;
}
.menu_box .menu {
	padding: 0;
	margin: 0;
}
 
.center {
	text-align: center;
}
.box {
 width: 24.99999%;
 display: inline-block;

}
.hello{
	margin-top: 10px;
}

.header-box{
	width: 24%;
	display: inline-block;  
	 float: left;
}
.block {
	display: inline-block;
}
.radius {
	border-radius: 50%;
	max-width: 45px;
}
#left p {
padding: 0px 0 0 50px;
    color: #FFF800;
    font-size: 15px;
}
#left strong {
	display: block;
	padding-bottom: 15px;
	background: url('../images/left.png') no-repeat bottom;
}
.navi {
	width: 49.9999%;
	display: inline-block;
	float: left; 
 

}
 
 .editor_ico{
 	width: 100%;
 	height: 20px;
 	background: url(../images/editor.png)no-repeat;
 	background-position: center;
 	background-size: 20px auto;  
 	margin: 5px auto;
 	display: inline-block; 
 }
 .journey_ico{
 	width: 100%;
 	height:20px;
 	background: url(../images/journey.png)no-repeat;
 	background-position: center;
 	background-size: 20px auto; 
 	margin: 5px auto;
 	display: inline-block;
 }
 .collection_ico{
 	width: 100%; 
 	height:20px;
 	background: url(../images/collection.png)no-repeat;
 	background-position: center;
 	background-size: 20px auto; 
 	margin: 5px auto;
 	display: inline-block;
 }
.menu li > a{ 
 height: 70px; 
 display: inline-block;
 padding-top: 5px;
 float: left;
 line-height: 66px;

 
}
 
.menu li ul{
	position: absolute;
	top: 68px;
	display: none;
	width: 100%!important;  
	left: 0!important;
	border-top: 1px solid #FFF800;
	padding-left: 28%;
	padding-right: 28%;
}
.menu li ul li ul{
	top: 60px;
}
.menu li ul li a{
	height: 60px;
}
.menu li ul.parent li{
	width: 33%;
	text-align: center!important;
}
.menu li ul.parent li a{
 font-size: 12px;
}
.menu li ul.parent li a p{
	line-height: 100%;
	padding-top: 5px;
}
.menu li ul.parent li a span{
	width: 100%;
	height: 20px; 
	padding-top:10px!important
	float: left;
	display: block;  
}
.menu li ul.parent li  .lib li{
	width: 9%;
	font-size: 12px;
	text-align: center;
}
.menu li ul li{
	display: inline-block;
}
.menu li:hover > ul{
	display: block;
}
.menu li ul li {

	display: inline-block;
}
.menu a {
	color: #FFF;
	text-transform: uppercase;
	font-weight: 400;
	transition: .4s;
	margin-right: 15px;
	margin-right: 15px;
}
.menu .active a,
.menu a:hover {
	color: #FFF800; 
}
#center {
	width: 12%;
	font-size: 10px;
	text-transform: uppercase;
	color: #FFF;
}
#center img {
	max-width: 100%; 
}
#center span {
	color: #1BD3C0;
}

.social_box{
	margin-top:10px;
	border-left: 1px solid rgba(255, 255, 255, .6);
}

#social{
	width: 100%;
	
	
}

#social li{
	display: inline-block;
	color: #FFF800;
	transition: .4s;
	border: 2px solid #FFF800;
	width: 32px;
	padding-top: 7px;
	height: 32px;
	border-radius: 100%;  
	margin-left:10px; 
	text-align: center;
	margin-top: 10px;
	float: right;
	  transition: all 0.4s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in; 

}
#social li a{
  color: #FFF800;
  display: block;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in; 
 
}
#social li:hover a {
	color: #1BD3C0;
	
}
#social li:hover{
	border-color: #1BD3C0;
}

#right a {
	color: #FFF800;
	transition: .4s;
	border: 1px solid #FFF800;
	width: 32px;
	padding-top: 7px;
	height: 32px;
	border-radius: 100%; 
	margin-top: 10px;
	margin-left:2px;
	margin-right: 2px;
}
#right a:hover {
	color: #1BD3C0;
	border-color: #1BD3C0;
}
 
#bookmarks {
	border: solid #FFF800;
	border-width: 1px 0 4px;
	background: rgba(0,0,0,.64);
}
#bookmarks li {
	margin-left: 32px;
}
#bookmarks .active,
#bookmarks li:hover,
#division .active,
#division li:hover {
	background: url('../images/bookmarks.png') no-repeat bottom;
}
#bookmarks a {
	display: block;
	color: #FFF;
	text-transform: uppercase;
	padding: 85px 0 32px;
	font-weight: 700;
	transition: .4s;
}
#collection {
	background: url('../images/collection.png') no-repeat center 32px;
}
#editor {
	background: url('../images/editor.png') no-repeat center 32px;
}
#journey {
	background: url('../images/journey.png') no-repeat center 32px;
}
#bookmarks .active #collection,
#collection:hover {
	background-image: url('../images/collection2.png');
	color: #FFF800;
}
#bookmarks .active #editor,
#editor:hover {
	background-image: url('../images/editor2.png');
	color: #FFF800;
}
#bookmarks .active #journey,
#journey:hover {
	background-image: url('../images/journey2.png');
	color: #FFF800;
}
#slide {
	position: relative;
}
#slide li {
	padding: 96px 32px 144px;
	position: absolute;
	width: 100%;
}
#slide li+li {
	display: none;
}
#slide+ul {
	width: 24%;
	padding-right: 32px;
	height: 80px;
}
#slide h3,
#star h3 {
	font-size: 28px;
	color: #1BD3C0;
}
#slide p{
	font-weight: 400;
}
#slide h2,
#star h2 {
	margin: 16px 0;
	color: #FFF800;
	font-size: 40px;
}
.user p {
	color: #FFF;
	font-size: 24px;
	font-weight: 400;
	margin-left: -79px;
	padding: 16px 0 0 95px;
}
.user span {
	font-size: 34px;
}
#about {
	padding: 32px;
	margin-bottom: 32px;
	background: url('../images/about.jpg') center;
	background-size: cover;
}
#about .user {
	width: 32%;
}
#about .slide {
	width: 68%;
	padding-left: 32px;
	text-align: right;
}
#map {
	margin: 32px 0;
}
.img {
	width: 100%;
	display: block;
}
table {
	width: 100%;
	border-collapse: collapse;
}
#events td {
	padding: 16px;
	border: 1px solid #1B1B1B;
	font-size: 19px;
}
#events select {
	border: 1px solid #252525;
	padding: 8px;
	text-transform: uppercase;
	color: #353535;
	font: 17px "Open Sans";
	width: 100%;
}
#events span,
#name span {
	padding: 4px 8px;
}
span.first,
#name .first {
	background: #7CC576;
}
span.second,
#name .second {
	background: #AAC576;
}
span.third,
#name .third {
	background: #769BC5;
}
span.fourth,
#name .fourth {
	background: #C576BC;
}
span.fifth,
#name .fifth {
	background: #CE6880
}
span.sixth,
#name .sixth {
	background: #22D813;
}
span.seventh,
#name .seventh {
	background: #DA8F36;
}
span.eighth,
#name .eighth{
	background: #3BBFD2;
}
#events h2,
#events h3 {
	font-size: 19px;
}
h2.first {
	color: #7CC576;
}
h2.second {
	color: #AAC576;
}
h2.third {
	color: #769BC5;
}
h2.fourth {
	color: #C576BC;
}
h2.fifth {
	color: #CE6880
}
h2.sixth {
	color: #22D813;
}
h2.seventh {
	color: #DA8F36;
}
h2.eighth {
	color: #3BBFD2;
}
#events strong {
	color: #1BD3C0;
}
#navigation {
	background: #1F1F1F;
}
#categories {
	border-right: 1px solid #8F8F8F;
	margin: 32px 0;
}
#categories li {
	width: 20%;
	border-left: 1px solid #8F8F8F;
	padding: 32px;
}
#categories a {
	text-transform: uppercase;
	color: #FFF;
	font-weight: 700;
	font-size: 17px;
}
#division {
	border-bottom: 1px solid #FFF800;
}
#division a {
	display: block;
	color: #FFF800;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 16px;
}
#one {
	background: url('../images/one.png') no-repeat left;
	padding: 48px 0 48px 73px;
}
#two {
	background: url('../images/two.png') no-repeat left;
	padding: 48px 0 48px 64px;
}
#excursions {
	margin-bottom: 32px;
}
#excursions td {
	border: 1px solid #474747;
	padding: 16px;
	text-transform: uppercase;	
}
#excursions h2 {
	font-size: 17px;	
}
#excursions img {
	max-width: 224px;
}
#excursions p {
	color: #353535;
	font-weight: 700;
	font-size: 32px;
}
#excursions span {
	color: #1BD3C0;
}
#excursions .fa {
	font-size: 40px;
	color: #3B3B3B;
}
#excursions a {
	color: #1BD3C0;
	font-weight: 700;
}
h1 { 
	color: #1BD3C0;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
}
h1 span {
	font-weight: 400;
	color: #414141;
}
.margin {
	margin-left: -32px;
}
.two {
	width: 50%;
	padding: 0 0 32px 32px;
}
.subtitle {
	background: #1BD3C0; 
	display: inline-block; 
	padding: 5px 0;
	font-weight: 200!important;
}
.subtitle h2 {
	color: #FFF;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 200!important;
	display: inline-block;
	margin-top: 0!important;
	margin-bottom: 0!important;
}
.subtitle h2 > span{
	margin-right: 5px;
	margin-left: 10px;
}
.best h3{
	font-size: 14px;
}

.select {
	color: #353535;
	text-transform: uppercase;
	font: 15px "Open Sans";
	width: 100%;
	max-width: 192px;
}
.select+select {
	margin-left: 16px;
}
.slideshow {
	position: relative; 
}
.slideshow li {
	 
	position: absolute;
	display: none;
	width: 100%;
}
.slideshow li:first-child {
	display: block;
}
.slideshow img+img {
	margin-left: 16px;
}
.slide h2 {
	font-size: 20px;
	color: #FFF800;
	margin-bottom: 16px;
	font-weight: 400;
}
.slide p {
	font-weight: 400;
	color: #FFF;
	font-size: 14px;
}
.navigation {
	height: 48px;
	margin-top: -48px;
}
.navigation a {
	width: 10px;
	height: 10px;
	display: block;
	background: #FFF;
	position: relative;
	transition: .4s;
	margin-left: 1px;
	margin-right: 1px;
}
.navigation .active a,
.navigation a:hover {
	background: #1BD3C0;
}
#calendar {
	border: 1px solid #474747;
	padding: 0 16px;
}
#calendar li+li {
	border-top: 1px solid #3B3B3B;
}
#calendar a {
	display: block;
	border: 2px solid transparent;
	padding: 8px 5px;
	color: #353535;
	font-size: 14px;
	font-weight: 400;
	margin: 8px 0;
}
#calendar a:hover {  
	border: 2px solid #1BD3C0;
}
.errorpage{
	padding-top: 150px; 
	font-size: 77px;
	color: #000;
	text-transform: none;
	font-weight: 700;
}
.errorpageh3{
	padding-bottom: 150px; 
}
.errorpageh3 a{
	 color: #1BD3C0;
	border-bottom:  2px dotted #1BD3C0;
}
.errorpage span{
	color:#1BD3C0;
}
#best {
	margin-bottom: 32px;
	background: url('../images/best.jpg') center;
	background-size: cover;
	padding: 32px 0;
	margin-top: 17px;
}
.best .avatars{
	display: block;
	margin: 0 auto; 
	float: none; 
}
#best h3 {
	color: #1BD3C0;
	font-size: 12px;
	text-transform: uppercase;  
	font-weight: 400;
}
#best a {
	color: #FFF800;
	padding: 10px 25px;
	border: 1px solid #FFF800;
	margin-top: 20px;
	font-size: 12px;
	text-transform: uppercase;
}
#filter {
	background: #1BD3C0;
	padding: 5px 10px; 
}
#filter h2 {
	color: #FFF;
	font-size: 17px;
	font-weight: 400;
	padding-right: 16px;
}
#filter input {
	cursor: pointer;
	color: #FFF;
	text-transform: uppercase;
	background: none;
	border: 2px solid #FFF;
	color: #FFF;
	font: 15px "Open Sans";
	margin: -2px 0;
	padding: 0 8px;
}
#pagination {
	font-size: 22px;
	color: #414141;
	text-transform: uppercase;
	font-weight: 700;
	margin: 32px -8px 0;
}
#pagination a {
	width: 26px;
	height: 26px;
	position: relative;
	top: 5px;
	margin: 0 8px;
}
#prev {
	background: url('../images/prev.png');
}
#next {
	background: url('../images/next.png');
}
#numbering li {
	margin: 32px 0 0 32px;
}
#numbering a {
	padding: 4px;
	display: block;
	background: linear-gradient(to right,#FFF800,#1BD3C0);
	height: 100%;
}
#numbering span.radius {
	background: #EDEDED;
	display: block;
	height: 100%;
	transition: .4s;
}
#numbering a:hover .radius {
	background: none;
}
.number {
	font-weight: 700;
	color: #414141;
	font-size: 22px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	display: block;
}
.title {
	border: solid #474747;
	border-width: 1px 0;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 400;
	padding: 8px 0 8px;
	margin-bottom: 32px;
}
#articles li {
	margin: 0 0 32px 32px;
	padding: 32px;
}
.thumbnail {
	margin-bottom: 16px;
}
.thumbnail p {
	margin-left: -48px;
	width: 100%;
	font-weight: 700;
	color: #FFF;
	font-size: 15px;
	padding: 13px 0 0 56px;
}
.excerpt { 
	font-weight: 200;
	color: #FFF;
	padding-bottom: 5px;
	font-size: 12px;
	margin-bottom: 0!important;
}
.heading {
	font-size: 18px;
	color: #FFF800;
	padding-top: 8px;
	border-top: 1px solid #FFF;
	font-weight: 400;
	margin-top: 0px!important;
	padding-top: 0!important;
}
.small {
	padding-right: 32px;
	margin-bottom: 32px;
}
#contact .small {
	width: 48%;
}
#single .small {
	width: 24%;
}
#data h2 {
	color: #1BD3C0;
	font-size: 22px;
	text-transform: uppercase;
}
#data p+h2,
#questions p {
	margin-top: 16px;
}
#data p {
	color: #414141;
	font-size: 22px;
	text-transform: uppercase;
}
#questions h2 {
	font-size: 29px;
	color: #1BD3C0;
}
#questions img+p {
	font-size: 34px;
}
#questions a {
	width: 33px;
	height: 39px;
	display: inline-block;
}
#facebook {
	background: url('../images/portals.png');
}
#twitter {
	background: url('../images/portals.png') -33px center;
}
#youtube {
	background: url('../images/portals.png') -66px center;
}
#linkedin {
	background: url('../images/portals.png') right;
}
#star {
	background: url('../images/best.jpg') center;
	background-size: cover;
	padding: 256px 0 32px;
	margin: 32px 0;
}
#star .small {
	width: 32%;
}
#star span {
	font-size: 40px;
	color: #FFF800;
	margin-bottom: 16px;	
}
#gallery {
	width: 68%;
}
#gallery li {
	padding: 32px 0 0 32px;
	width: 25%;
} 
#gallery img {
	border: 1px solid #FFF800;
}
.content p {
	margin-bottom: 16px;
}
.content a {
	padding: 8px 0 8px 42px;
	background: url('../images/pdf.png') no-repeat left;
	display: inline-block;
	text-transform: uppercase;
	color: #3B3B3B;
	font-weight: 700;
}
#name {
	background: url('../images/container.jpg') center;
	background-size: cover;
	margin: 32px 0;
}
#name div {
	padding: 32px;
	background: rgba(0,0,0,.64);
}
#name .fa {
	color: #FFF800;
	font-size: 40px;
}
#name .right {
	color: #353535;
	font-size: 17px;
}
#name h2 {
	color: #1BD3C0;
	font-size: 56px;
	text-transform: uppercase;
	margin: 16px 0;
}
#name .active h2 {
	color: #FFF;
}
#name p {
	padding-top: 16px;
	color: #FFF;
	font-size: 22px;
	border-top: 1px solid #FFF;
}
.big {
	padding-left: 32px;
	margin-bottom: 32px;
	border-left: 1px solid #7A7A7A;
}
#contact .big {
	width: 52%;
}
#single .big {
	width: 76%;
}
#form li {
	padding: 0 0 32px 32px;
	width: 50%;
}
#form li+li+li {
	width: 100%;
}
#form .text {
	width: 100%;
	padding: 16px;
	border: 1px solid #AFAFAF;
	color: #414141;
	font: 16px "Open Sans";
}
textarea {
	resize: none;
	height: 195px;
}
#contact .submit {
	cursor: pointer;
	background: #1BD3C0;
	color: #FFF;
	text-transform: uppercase;
	font: 700 18px "Open Sans";
	padding: 16px 32px;
}
#content p+p {
	margin-top: 16px;
}
#content span {
	color: #1BD3C0;
}
#select {
	width: 24%;
	border: 4px solid #363636;
	padding: 8px;
	font: 700 17px "Open Sans";
	color: #353535;
	text-transform: uppercase;
	margin: 32px 0;
}
#news {
	background: url('../images/news.jpg') repeat-y center;
	margin-bottom: 32px;
	padding-top: 32px;
}
.hide {
	display: none;
}
.topicality {
	padding: 32px;
	margin-bottom: 32px;
	width: 40%;
}
.date {
	padding: 16px;
	width: 20%;
}
.even .date {
	margin-left: 40%;
}
.odd .date h2 {
	padding-left: 12px;
	background: url('../images/l.png') no-repeat left;
}
.even .date h2 {
	padding-right: 12px;
	background: url('../images/r.png') no-repeat right;
}
.date span {
	border: 4px solid #1BD3C0;
	font-size: 17px;
	color: #1BD3C0;
	padding: 8px;
	display: block;
	background: #FFF;
}
#bottom div {
	width: 50%;
}
#bottom p {
	height: 5px;
	margin-top: 45px;
}
#bottom .left p {
	background: #1BD3C0;
	margin-right: 96px;
}
#bottom .right p {
	background: #FFF800;
	margin-left: 96px;
}
#bottom a {
	width: 160px;
	height: 67px;
	background: url('../images/bottom.png');
	margin: 16px -80px;
}
.footer{
	padding: 25px 0;
	margin-top: 25px;
}
.lmenu_footer{
	border-top: 3px solid #1BD3C0;
	margin-top: 30px;
	padding-top: 5px;
}
.rmenu_footer{
	border-top: 3px solid #FFF800;
	margin-top: 30px;
	padding-top: 5px;
}
.lmenu_footer li{
	list-style: none; 
	display: inline-block;
	text-align: left;
	margin-right: 10px; 
}
.rmenu_footer li{
	list-style: none; 
	display: inline-block;
	text-align: right;
	width: 100%; 
	padding-right: 0;
	margin-right: 0;
}
.rmenu_footer{
	padding-right: 0;
	margin-right: 0;
}
.rmenu_footer li a,
.lmenu_footer li a{
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 200; 

}
.lmenu_footer li a:hover{
	color: #FFF800;
}
#footer li {
	margin: 0 16px 16px 0;
	font-weight: 700;
}
#footer {
	margin-top: -35px;
}
#footer a,
#footer p {
	color: #FFF;
	font-size: 12px;
	text-transform: uppercase;
	transition: .4s;
	font-weight: 400;
}
#footer .active a,
#footer a:hover {
	color: #FFF800;
}
#scroll {
	position: fixed;
	right: 15px;
	bottom: 50px;
	display: none;
}
#scroll a {
	width: 35px;
	height: 35px;
	background: #1BD3C0 url('../images/scroll.png') no-repeat center;
	display: block;
	background-size: 80% auto;
}
.contact_us_page{
	margin-top:25px;

}
.contact_us .form{
	border-left: 1px solid #000;
	padding-top: 25px;
	padding-bottom: 25px;
}
.contact_us .form input,
.contact_us .form textarea{
	border-radius: 0;
}

.contact_us .form textarea{
	min-height: 150px;
}

@media (max-width: 1200px) {
	.box {
		height: auto;
	}
}
@media (max-width: 900px) {
	#search {
		padding: 32px;
	}
	.box {
		float: none;
		width: auto;
		border: 0;
		padding: 0;
		margin: 0;
	}
	#left img,
	#footer ul {
		float: none;
	}
	#left p {
		float: none;
		margin: 16px 0 0;
		padding: 0;
	}
	.menu {
		float: none;
		width: auto;
		padding: 0;
	}
	.menu li {
		display: block;
		margin: 16px 0 0;
	}
	#center {
		float: none;
		width: auto;
		margin-top: 16px;
	}
	#right a {
		margin: 16px 4px 0;
	}
	#footer li {
		float: none;
		margin: 0 0 16px;
	}
	#footer p {
		margin-bottom: 16px;
		float: none;
	}
	.two {
		float: none;
		width: auto;
	}
	.small,
	#contact .big {
		float: none;
		width: auto;
	}
	.big {
		border: 0;
		padding: 0;
	}
	#select {
		width: 100%;
	}
	.topicality,
	#about .user,
	#star .small,
	#single .small,
	#single .big {
		width: auto;
		float: none;
	}
	.date {
		padding: 0;
		width: auto;
		float: none;
	}
	.even .date {
		margin: 0;
	}
	.odd .date h2,
	.even .date h2 {
		padding: 0 0 32px;
		background: none;
		display: inline-block;
	}
	#about .slide {
		float: none;
		padding: 32px 0 0;
		width: auto;
	}
	#categories {
		border: 0;
		margin-top: 16px;
	}
	#categories li {
		border: 0;
		padding: 16px 0 0;
		float: none;
		width: auto;
	}
	#star {
		padding-top: 32px;
	}
	#gallery {
		float: none;
		width: auto;
		margin: -32px 0 0 -32px;
	}
	#gallery li {
		width: 50%;
	}
	#excursions td:first-child+td {
		display: none;
	}
}



@media (max-width: 480px) {
	#gallery li {
		width: 100%;
	}
}